<!-- header section -->
<section class="innerbanner" role="banner">
  
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="innerbanner-text text-center">
        <p>내 페이지<br><br><%=current_user.email%></p>
        <!-- banner text --> 
      </div>
    </div>
  </div>
</section>
<!-- header section --> 
<!-- description text section -->
<section id="inner-description" class="section inner-description">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <span class="image blinking"><img src="/images/diamond-3.png" alt="Mafolio"></span>
      <h1>000 포인트가 남았습니다.</h1>
      <p><%=current_user.username%></p>
    </div>
    <div class="col-md-10 col-md-offset-1 space">
      <h3>내가 올린 설문</h3>
    </div>
    <div class="col-md-10 col-md-offset-1 space">
      <h3>내가 참여한 설문</h3>
    </div>
    <div><%= link_to 'Edit profile', edit_user_registration_path %>
    </div>
  </div>
</section>
<!-- description text section --> 